.gradientText {
  background: -webkit-linear-gradient(left, #1B6DF6, #63c4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  min-height: 100vh;
  width: 100%;
  /* background-image: url("../assets/slider_pic1.jpg"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.purpleOverlay {
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/images/bg_silder_purple_overlay.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.aboutBackground {
  /* min-height: 100vh; */
  width: 400px;
  background-image: url("../assets/dots_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.grayBackground {
  min-height: 100vh;
  background-image: url("../assets/images/gray_bg.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.footerBackground {
  background-image: url("../assets/images/footer_background.jpeg");
  /* background-color: antiquewhite; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.overlayBackground {
  /* min-height: 100vh; */
  background-image: url("../assets/images/white_overlay.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  
}
.footerGrid{
  height: 300px;
}

@media (max-width:768px) {
  .container {
    min-height: 80vh;
  }
  .grayBackground {
    min-height: auto;
  }
  .footerGrid{
    height: 300px;
  }
  
}
@media (max-width:900px) {
  .footerGrid{
    height: 400px;
  }
}
@media (max-width:700px) {
  .footerGrid{
    height: 350px;
  }
}
@media (max-width:576px) {
  .footerGrid{
    height: 250px;
  }
}

@media (max-width:576px) {
  /* .container {
    min-height: 60vh;
  } */
  .container {
    min-height: 70vh;
  }
  .purpleOverlay {
    min-height: 70vh;
  }
  

}
